DATAset Link: https://data.wa.gov/Transportation/Vehicle-Registration-Transactions-by-Department-of/brw6-jymh/about_data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [16]:
df1 = pd.read_csv('Vehicle_Registration_Transactions_by_Department_of_Licensing_20240406.csv')

C:\Users\schowdho\AppData\Local\Temp\ipykernel_30816\1185568423.py:1: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('Vehicle_Registration_Transactions_by_Department_of_Licensing_20240406.csv')

In [63]:
df1.head(500)

,Transaction Month and Year,Make,Model,Model Year,Vehicle Color,Vehicle Type,Vehicle Primary Use,Fuel Type Primary,Fuel Type Secondary,Gross Vehicle Weight Rating Class,...,Plate Background,Plate Configuration,Owner Type,County,State,Postal Code,Transaction Type,Transaction Channel,2020 GEOID,Transaction Count
0,2020-01-01,ACURA,CL,1999,WHITE,PASSENGER CAR,Passenger,Gasoline,NaN,1C,...,Standard Plate,Standard,Individual Owner,King,WA,98117,Registration Renewal,Online,5.303300e+10,1
1,2020-01-01,ACURA,ILX,2013,GRAY,PASSENGER CAR,Passenger,Gasoline,NaN,1B,...,Standard Plate,Standard,Individual Owner,Spokane,WA,99223,Registration Renewal,Online,5.306300e+10,1
2,2020-01-01,ACURA,ILX,2017,BLACK,PASSENGER CAR,Passenger,Gasoline,NaN,1C,...,Standard Plate,Standard,Individual Owner,King,WA,98136,Registration Renewal,Online,5.303301e+10,1
3,2020-01-01,ACURA,ILX,2018,NaN,PASSENGER CAR,Passenger,Gasoline,NaN,1C,...,Standard Plate,Standard,Individual Owner,King,WA,98136,Registration Renewal,Online,5.303301e+10,1
4,2020-01-01,ACURA,ILX,2019,NaN,PASSENGER CAR,Passenger,Gasoline,NaN,1C,...,Standard Plate,Standard,Individual Owner,Thurston,WA,98506,Registration Renewal,Online,5.306701e+10,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,2020-01-01,CHEVROLET,COBALT,2010,BLACK,PASSENGER CAR,Passenger,Gasoline,NaN,NaN,...,Standard Plate,Standard,Individual Owner,Whatcom,WA,98225,Registration Renewal,In-person,5.307300e+10,1
496,2020-01-01,CHEVROLET,COBALT,2010,WHITE,PASSENGER CAR,Passenger,Gasoline,NaN,NaN,...,Standard Plate,Standard,Individual Owner,Grays Harbor,WA,98520,Registration Renewal,In-person,5.302700e+10,1
497,2020-01-01,CHEVROLET,COLORADO,2004,BLUE,TRUCK,Truck,Gasoline,NaN,1C,...,Standard Plate,Standard,Individual Owner,Kitsap,WA,98366,Registration Renewal,In-person,5.303509e+10,1
498,2020-01-01,CHEVROLET,COLORADO,2004,RED,TRUCK,Truck,Gasoline,NaN,1C,...,Standard Plate,Standard,Individual Owner,Grays Harbor,WA,98520,Registration Renewal,In-person,5.302700e+10,1
499,2020-01-01,CHEVROLET,COLORADO,2004,WHITE,TRUCK,Truck,Gasoline,NaN,1C,...,Standard Plate,Standard,Individual Owner,King,WA,98092,Registration Renewal,In-person,5.303303e+10,1

In [90]:
num_rows = df1.shape[0]
print("Number of rows:", num_rows)

Number of rows: 27478265

In [44]:
# Print the last row
print(df1.iloc[-1])

Transaction Month and Year                                       02/01/2024
Make                                                                 YAMAHA
Model                                                                YZF-R1
Model Year                                                             2012
Vehicle Color                                                         BLACK
Vehicle Type                                                     MOTORCYCLE
Vehicle Primary Use                                              Motorcycle
Fuel Type Primary                                                  Gasoline
Fuel Type Secondary                                                     NaN
Gross Vehicle Weight Rating Class                                        1A
Gross Vehicle Weight Rating Range (lbs)                               3,000
Electrification Level                      ICE (Internal Combustion Engine)
Plate Background                                             Standard Plate
Plate Configuration                                                Standard
Owner Type                                                 Individual Owner
County                                                               Kitsap
State                                                                    WA
Postal Code                                                           98366
Transaction Type                           Registration at Time of Transfer
Transaction Channel                                               In-person
2020 GEOID                                                    53035092200.0
Transaction Count                                                         1
Name: 27478264, dtype: object

In [46]:
# Specify the columns you want to keep
columns_to_keep = ['Transaction Month and Year', 'Make', 'Model', 'Model Year', 'Vehicle Type','Fuel Type Primary','County','State','Postal Code','Transaction Count']

# Create a new DataFrame with only the selected columns
df2 = df1[columns_to_keep]

In [47]:
df2.head(500)

,Transaction Month and Year,Make,Model,Model Year,Vehicle Type,Fuel Type Primary,County,State,Postal Code,Transaction Count
0,2020-01-01,ACURA,CL,1999,PASSENGER CAR,Gasoline,King,WA,98117,1
1,2020-01-01,ACURA,ILX,2013,PASSENGER CAR,Gasoline,Spokane,WA,99223,1
2,2020-01-01,ACURA,ILX,2017,PASSENGER CAR,Gasoline,King,WA,98136,1
3,2020-01-01,ACURA,ILX,2018,PASSENGER CAR,Gasoline,King,WA,98136,1
4,2020-01-01,ACURA,ILX,2019,PASSENGER CAR,Gasoline,Thurston,WA,98506,1
...,...,...,...,...,...,...,...,...,...,...
495,2020-01-01,CHEVROLET,COBALT,2010,PASSENGER CAR,Gasoline,Whatcom,WA,98225,1
496,2020-01-01,CHEVROLET,COBALT,2010,PASSENGER CAR,Gasoline,Grays Harbor,WA,98520,1
497,2020-01-01,CHEVROLET,COLORADO,2004,TRUCK,Gasoline,Kitsap,WA,98366,1
498,2020-01-01,CHEVROLET,COLORADO,2004,TRUCK,Gasoline,Grays Harbor,WA,98520,1
499,2020-01-01,CHEVROLET,COLORADO,2004,TRUCK,Gasoline,King,WA,98092,1

In [48]:
num_rows = df2.shape[0]
print("Number of rows:", num_rows)

Number of rows: 27478265

In [91]:
unique_combinations = df2[['Make', 'Model','Vehicle Type']].drop_duplicates()
print(unique_combinations)

                             Make         Model  \
0                           ACURA            CL
1                           ACURA           ILX
5                           ACURA       INTEGRA
8                           ACURA           MDX
39                          ACURA           RDX
...                           ...           ...
27417269                     CHEV  P30 STEP VAN
27418429  GLOBAL MOTORSPORT GROUP         93 CI
27420898                     CHEV       CK/3500
27421139                    HONDA        CRF50F
27435001                     CHEV    SILVEERADO

                                  Vehicle Type
0                                PASSENGER CAR
1                                PASSENGER CAR
5                                PASSENGER CAR
8         MULTIPURPOSE PASSENGER VEHICLE (MPV)
39        MULTIPURPOSE PASSENGER VEHICLE (MPV)
...                                        ...
27417269                    INCOMPLETE VEHICLE
27418429                            MOTORCYCLE
27420898                    INCOMPLETE VEHICLE
27421139                            MOTORCYCLE
27435001                    INCOMPLETE VEHICLE

[8887 rows x 3 columns]

In [92]:
unique_combinations.to_csv('unique_combinationsdf2.csv', index=False)

if Vehicle Type is PASSENGER CAR, in Vehicle Type NEW give name Passenger Car.
if Vehicle Type is TRUCK, in Vehicle Type NEW give name Passenger Truck or Combination Long-haul Truck or Combination Short-haul Truck or Light Commercial Truck or Refuse Truck or Single Unit Long-haul Truck or Single Unit Short-haul Truck.
if Vehicle Type is BUS, in Vehicle Type NEW give name Other Buses or School Bus or Transit Bus.
if Vehicle Type is MULTIPURPOSE PASSENGER VEHICLE (MPV), in Vehicle Type NEW give name Passenger Car.
if Vehicle Type is MOTORCYCLE, in Vehicle Type NEW give name Motorcycle.
if Vehicle Type is TRAILER, in Vehicle Type NEW give name Combination Long-haul Truck or Combination Short-haul Truck  or  Single Unit Long-haul Truck.
if Vehicle Type is LOW SPEED VEHICLE (LSV), in Vehicle Type NEW give name Other Buses.
if Vehicle Type is OFF ROAD VEHICLE, in Vehicle Type NEW give name Light Commercial Truck.
if Vehicle Type is INCOMPLETE VEHICLE, based on 'Make'	'Model' in Vehicle Type NEW give name Combination Long-haul Truck or
Combination Short-haul Truck or
Light Commercial Truck or
Motor Home or
Motorcycle or
Other Buses or
Passenger Truck or
Refuse Truck or
School Bus or
Single Unit Long-haul Truck or
Single Unit Short-haul Truck or
Transit Bus.

In [113]:
df3 = pd.read_csv('final_with_rules_updated_combinationsdf2.csv')

In [114]:
df3['Vehicle Type NEW'].unique()

array(['Passenger Car', 'Motorcycle', 'Light Commercial Truck',
       'Single Unit Long-haul Truck', 'Combination Long-haul Truck',
       'Passenger Truck', 'Single Unit Short-haul Truck',
       'Combination Short-haul Truck', 'Transit Bus', 'Refuse Truck',
       'School Bus', 'Other Buses', 'Motor Home'], dtype=object)

In [116]:
df3.head(100)

        Make      Model                          Vehicle Type Vehicle Type NEW
0      ACURA         CL                         PASSENGER CAR    Passenger Car
1      ACURA        ILX                         PASSENGER CAR    Passenger Car
2      ACURA    INTEGRA                         PASSENGER CAR    Passenger Car
3      ACURA        MDX  MULTIPURPOSE PASSENGER VEHICLE (MPV)    Passenger Car
4      ACURA        RDX  MULTIPURPOSE PASSENGER VEHICLE (MPV)    Passenger Car
..       ...        ...                                   ...              ...
95  CADILLAC    DEVILLE                         PASSENGER CAR    Passenger Car
96  CADILLAC        DTS                         PASSENGER CAR    Passenger Car
97  CADILLAC   ELDORADO                         PASSENGER CAR    Passenger Car
98  CADILLAC   ESCALADE  MULTIPURPOSE PASSENGER VEHICLE (MPV)    Passenger Car
99  CADILLAC  FLEETWOOD                         PASSENGER CAR    Passenger Car

[100 rows x 4 columns]

In [117]:
# Merge df2 with df3 to get the 'Vehicle Category' based on 'Record Type', 'Make', and 'Body Type'.
df4 = pd.merge(df2, df3, on=['Make', 'Model', 'Vehicle Type'], how='left')

# Select the required columns for the new dataframe df5
df4 = df4[['Vehicle Type NEW', 'State', 'Postal Code', 'County', 'Model Year', 'Fuel Type Primary', 'Transaction Month and Year']]

# Save df5 to a CSV file
#df4.to_csv('df5.csv', index=False)

# Check the first few rows of the new dataframe
print(df4.head(100))

   Vehicle Type NEW State Postal Code    County  Model Year Fuel Type Primary  \
0     Passenger Car    WA       98117      King        1999          Gasoline
1     Passenger Car    WA       99223   Spokane        2013          Gasoline
2     Passenger Car    WA       98136      King        2017          Gasoline
3     Passenger Car    WA       98136      King        2018          Gasoline
4     Passenger Car    WA       98506  Thurston        2019          Gasoline
..              ...   ...         ...       ...         ...               ...
95    Passenger Car    WA       98516  Thurston        2010          Gasoline
96    Passenger Car    WA       98052      King        2016          Electric
97    Passenger Car    WA       98110    Kitsap        2016          Electric
98    Passenger Car    WA       98107      King        2018          Electric
99    Passenger Car    WA       99223   Spokane        1998          Gasoline

   Transaction Month and Year
0                  2020-01-01
1                  2020-01-01
2                  2020-01-01
3                  2020-01-01
4                  2020-01-01
..                        ...
95                 2020-01-01
96                 2020-01-01
97                 2020-01-01
98                 2020-01-01
99                 2020-01-01

[100 rows x 7 columns]

In [118]:
df4.head(100)

,Vehicle Type NEW,State,Postal Code,County,Model Year,Fuel Type Primary,Transaction Month and Year
0,Passenger Car,WA,98117,King,1999,Gasoline,2020-01-01
1,Passenger Car,WA,99223,Spokane,2013,Gasoline,2020-01-01
2,Passenger Car,WA,98136,King,2017,Gasoline,2020-01-01
3,Passenger Car,WA,98136,King,2018,Gasoline,2020-01-01
4,Passenger Car,WA,98506,Thurston,2019,Gasoline,2020-01-01
...,...,...,...,...,...,...,...
95,Passenger Car,WA,98516,Thurston,2010,Gasoline,2020-01-01
96,Passenger Car,WA,98052,King,2016,Electric,2020-01-01
97,Passenger Car,WA,98110,Kitsap,2016,Electric,2020-01-01
98,Passenger Car,WA,98107,King,2018,Electric,2020-01-01
99,Passenger Car,WA,99223,Spokane,1998,Gasoline,2020-01-01

In [119]:
df4['Model Year'].unique()

array([1999, 2013, 2017, 2018, 2019, 1995, 1998, 2001, 2002, 2004, 2006,
       2007, 2008, 2009, 2011, 2012, 2014, 2015, 2016, 2010, 2020, 2003,
       2000, 1996, 1993, 2005, 1997, 1994, 1991, 1988, 1987, 1990, 1989,
       1982, 1983, 1985, 1986, 1992, 1984, 1981, 1980, 2021, 1966, 1979,
       2023, 2022, 2024], dtype=int64)

In [120]:
df4['Fuel Type Primary'].unique()

array(['Gasoline', 'Electric', 'Flexible Fuel Vehicle (FFV)', 'Diesel',
       'Ethanol (E85)', 'Not Applicable', 'Compressed Natural Gas (CNG)',
       'Liquefied Petroleum Gas (propane or LPG)', 'Hybrid', 'Other',
       'Steam', 'Butane', 'Hydrogen Fuel Cell', 'Natural Gas'],
      dtype=object)

In [121]:
# Copy df4 to df5 to retain the original data (correcting from df5 = df4.copy() to the correct form)
df5 = df4.copy()

# Renaming columns
df5.rename(columns={'Vehicle Type NEW': 'Vehicle Type', 'Fuel Type Primary': 'Fuel Type', 'Postal Code': 'Zip'}, inplace=True)

# Calculate 'Age' from 'Model Year', where 2024 - Model Year. Cap the age at 30 for vehicles older than 1994.
# Assuming 'Model Year' exists in df5, correcting df5['Age'] calculation based on its own 'Model Year' column.
df5['Age'] = 2024 - df5['Model Year'].astype(int)
df5['Age'] = df5['Age'].apply(lambda x: x if x <= 30 else 30)

# Drop the 'Model Year' column as it's replaced by 'Age'
df5.drop('Model Year', axis=1, inplace=True)

# Mapping for fuel types
fuel_type_mapping = {
    'Gasoline': 'Gasoline',
    'Electric': 'Electricity',
    'Flexible Fuel Vehicle (FFV)': 'Ethanol(E-85)',
    'Diesel': 'Diesel',
    'Ethanol (E85)': 'Ethanol(E-85)',
    'Not Applicable': 'Other',
    'Compressed Natural Gas (CNG)': 'Compressed natural Gas (CNG)',
    'Liquefied Petroleum Gas (propane or LPG)': 'Compressed natural Gas (CNG)',
    'Hybrid': 'Electricity',
    'Other': 'Other',
    'Steam': 'Other',
    'Butane': 'Other',
    'Hydrogen Fuel Cell': 'Electricity',
    'Natural Gas': 'Compressed natural Gas (CNG)'
}

# Apply the mapping to the 'Fuel Type' column
df5['Fuel Type'] = df5['Fuel Type'].map(fuel_type_mapping)

# Add 'Vehicle Count' column initialized to 1
df5['Vehicle Count'] = 1

# Filter out rows where 'Fuel Type' is 'Other'
df5 = df5[df5['Fuel Type'] != 'Other']

# Save the dataframe to a CSV file
#df5.to_csv('df6.csv', index=False)

# Display the first few rows of the new dataframe
print(df5.head(100))

     Vehicle Type State    Zip    County    Fuel Type  \
0   Passenger Car    WA  98117      King     Gasoline
1   Passenger Car    WA  99223   Spokane     Gasoline
2   Passenger Car    WA  98136      King     Gasoline
3   Passenger Car    WA  98136      King     Gasoline
4   Passenger Car    WA  98506  Thurston     Gasoline
..            ...   ...    ...       ...          ...
95  Passenger Car    WA  98516  Thurston     Gasoline
96  Passenger Car    WA  98052      King  Electricity
97  Passenger Car    WA  98110    Kitsap  Electricity
98  Passenger Car    WA  98107      King  Electricity
99  Passenger Car    WA  99223   Spokane     Gasoline

   Transaction Month and Year  Age  Vehicle Count
0                  2020-01-01   25              1
1                  2020-01-01   11              1
2                  2020-01-01    7              1
3                  2020-01-01    6              1
4                  2020-01-01    5              1
..                        ...  ...            ...
95                 2020-01-01   14              1
96                 2020-01-01    8              1
97                 2020-01-01    8              1
98                 2020-01-01    6              1
99                 2020-01-01   26              1

[100 rows x 8 columns]

In [122]:
df5.head(100)

,Vehicle Type,State,Zip,County,Fuel Type,Transaction Month and Year,Age,Vehicle Count
0,Passenger Car,WA,98117,King,Gasoline,2020-01-01,25,1
1,Passenger Car,WA,99223,Spokane,Gasoline,2020-01-01,11,1
2,Passenger Car,WA,98136,King,Gasoline,2020-01-01,7,1
3,Passenger Car,WA,98136,King,Gasoline,2020-01-01,6,1
4,Passenger Car,WA,98506,Thurston,Gasoline,2020-01-01,5,1
...,...,...,...,...,...,...,...,...
95,Passenger Car,WA,98516,Thurston,Gasoline,2020-01-01,14,1
96,Passenger Car,WA,98052,King,Electricity,2020-01-01,8,1
97,Passenger Car,WA,98110,Kitsap,Electricity,2020-01-01,8,1
98,Passenger Car,WA,98107,King,Electricity,2020-01-01,6,1
99,Passenger Car,WA,99223,Spokane,Gasoline,2020-01-01,26,1

In [123]:
num_rows = df5.shape[0]
print("Number of rows:", num_rows)

Number of rows: 27477601

In [124]:
# Group by 'Vehicle Type', 'Fuel Type', and 'Age'
df6 = df5.groupby(['Vehicle Type', 'Fuel Type', 'Age'])['Vehicle Count'].sum().reset_index()

# Save df6 to a CSV file
#df6.to_csv('df6.csv', index=False)

# Display the first few rows of the new dataframe
print(df6.head(100))

                   Vehicle Type                     Fuel Type  Age  \
0   Combination Long-haul Truck  Compressed natural Gas (CNG)    2
1   Combination Long-haul Truck  Compressed natural Gas (CNG)    7
2   Combination Long-haul Truck  Compressed natural Gas (CNG)    8
3   Combination Long-haul Truck  Compressed natural Gas (CNG)   12
4   Combination Long-haul Truck  Compressed natural Gas (CNG)   14
..                          ...                           ...  ...
95  Combination Long-haul Truck                      Gasoline   26
96  Combination Long-haul Truck                      Gasoline   27
97  Combination Long-haul Truck                      Gasoline   28
98  Combination Long-haul Truck                      Gasoline   29
99  Combination Long-haul Truck                      Gasoline   30

    Vehicle Count
0               1
1               3
2               4
3               4
4               5
..            ...
95           4447
96          13340
97           9683
98           9373
99          62232

[100 rows x 4 columns]

In [125]:
df6.head(100)

,Vehicle Type,Fuel Type,Age,Vehicle Count
0,Combination Long-haul Truck,Compressed natural Gas (CNG),2,1
1,Combination Long-haul Truck,Compressed natural Gas (CNG),7,3
2,Combination Long-haul Truck,Compressed natural Gas (CNG),8,4
3,Combination Long-haul Truck,Compressed natural Gas (CNG),12,4
4,Combination Long-haul Truck,Compressed natural Gas (CNG),14,5
...,...,...,...,...
95,Combination Long-haul Truck,Gasoline,26,4447
96,Combination Long-haul Truck,Gasoline,27,13340
97,Combination Long-haul Truck,Gasoline,28,9683
98,Combination Long-haul Truck,Gasoline,29,9373
99,Combination Long-haul Truck,Gasoline,30,62232

In [128]:
df6['Fuel Type'].unique()

array(['Compressed natural Gas (CNG)', 'Diesel', 'Electricity',
       'Ethanol(E-85)', 'Gasoline'], dtype=object)

In [126]:
num_rows = df6.shape[0]
print("Number of rows:", num_rows)

Number of rows: 1246